@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,700');

/* KEYFRAMES */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* BODY */
* {
  box-sizing: border-box;
}

body {
background-image: url('../images/03.png');
background-repeat: repeat;
background-color: #F8F8F8;
font-size: 16px;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-weight: 300;
}

header {
   text-align: center;
   width: 90%;
   margin: 0 auto;
   background-color: rgba(248, 248, 248, 0.9);
}

h1, h2 {
text-align: center;
color: #777676;
font-weight: 300;

}

h1 {
  font-size: 3em;
  margin: 35px auto 0 auto;
}

h2 {
  margin: 0;
  display: inline-block;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(248, 248, 248, 0.9);
}

p {
  text-align: center;
  color: #777676;
  font-weight: 600;
  font-size: 1.5em;
}

input {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #777676;
  text-align: center;
  background-color: rgba(248, 248, 248, 0.1);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #777676;
  display: block;
  margin: 30px auto;
  max-width: 12em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(119,118,118,0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(119,118,118,0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(119,118,118,0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(119,118,118,0.5);
}

button {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  color: #777676;
  text-align: center;
  background-color: #F8F8F8;
  display: block;
  margin: 10px auto;
}

footer {
  display: none;
  margin: 0px auto;
  width: 90%;
  padding: 30px;
  background-color: rgba(248, 248, 248, 0.9);
}

footer p {
  font-size: 0.8em;
  font-weight: 300;
}

footer a {
  color: #777676;
  font-weight: 300;
}




/* GAMEBOARD ID's  */
#td1, #td2, #td3, #td4, #td5, #td6, #td7, #td8, #td9 {

  width: 115px;
  height: 115px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#td1 {
  border-bottom: 5px solid #C5C5C5;
  border-right: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#td2 {
  border-bottom: 5px solid #C5C5C5;
  border-right: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#td3 {
  border-bottom: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#td4 {
  border-bottom: 5px solid #C5C5C5;
  border-right: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}
#td5 {
  border-bottom: 5px solid #C5C5C5;
  border-right: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#td6 {
  border-bottom: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;

}
#td7 {
  border-right: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#td8 {
  border-right: 5px solid #C5C5C5;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}


#td9 {

}

/* LANDING PAGE */
.landing {
  width: 50%;
  margin: 80px auto;
  display: block;
  padding: 20px;
}

.error-banner {
  font-size: 1em;
}

/* GAMEBOARD */

.gameboard {
  width: 345px;
  height: 345px;
  margin: 20px auto 0 auto;
  display: none;

}

/* PLAYER STYLING */
.players {
  width: 80%;
  margin: 10px auto;
  display: none;
  padding: 0px;
}

.p1 {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.p1 h2:hover {
  font-weight: 600;
}

.p2 {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.p2 h2:hover {
  font-weight: 600;
}

.p1-indicator {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  text-align: center;
}

.p2-indicator {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  text-align: center;
}

.p1-indicator h2 {
  font-weight: 600;
  color: #05dbd9;
  text-align: center;
}

.p2-indicator h2 {
  font-weight: 600;
  color: #e88c7d;
  text-align: center;
}

.x {
  font-size: 60px;
  line-height: 70px;
  color: #05dbd9;
  font-weight: 600;
  text-align: center;
  margin: 0;
  vertical-align: center;
}

.o {
  font-size: 60px;
  line-height:70px;
  color: #e88c7d;
  font-weight: 600;
  text-align: center;
  margin: 0;
  vertical-align: center;
  margin: 10px auto;
}


/* WINNER BANNERS */
.banner {
  font-size: 2em;
  font-weight: 300;
  color: #777676;
  padding: 20px auto 0 auto;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

.banner a {
  color: #777676;
  text-decoration: none;
  font-weight: 600;
}

/* MEDIA QUERIES */

@media only screen and (max-width:776px){ /*When footer and inputs collapse*/
	footer {
		font-size: 10px;
	}

  input {
    font-size: 1em;
    overflow: hidden;
  }

  .landing {
    width: 100%;
  }


  @media only screen and (max-width:445px){ /*When gameboard collapses*/
  main {
    width: 100%;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: 1.5em;
  }

  #td1, #td2, #td3, #td4, #td5, #td6, #td7, #td8, #td9 {

    width: 104px;
    height: 104px;
  }

  .gameboard {
    width: 320px;
  }

  .banner {
    font-size: 1.5em;
  }
